@import "bourbon";
@import "vars";
@import "libs";

//Custom styles here

@import "media";


.section {
  padding-top:110px;
  padding-bottom:110px;
}

@media (max-width:991px) {
  .section {
    padding-top:70px;
    padding-bottom:70px;
  }
}

@media (max-width:767px) {
  .section {
    padding-top:50px;
    padding-bottom:50px;
  }
}

.about_us {
  background:url(../img/bg2.jpg) right bottom no-repeat;
  background-size:cover;
}

@media (max-width:767px) {
  .about_us {
    background:url(../img/bg2.jpg) center bottom no-repeat;
    background-size:cover;
  }
}

h1.section_heading {
  color:black;
  font-family:Pacifico;
  font-size:30px;
  font-weight:400;
}

@media (max-width:767px) {
  h1.section_heading {
    text-align:center;
  }
}

p.section_descr {
  color:black;
  font-family:"Times New Roman";
  font-size:38px;
  font-weight:400;
  text-transform:uppercase;
}

@media (max-width:767px) {
  p.section_descr {
    text-align:center;
  }
}

p {
  color:#4a4a4a;
  font-family:"Times New Roman";
  font-size:15px;
  font-weight:400;
}

.section_btn {
  margin-top:26px;
  width:149px;
  height:48px;
  background-color:#e7a331;
  border-radius:5px;
  background-image:none;
  color:white;
  font-family:"Times New Roman";
  font-size:15px;
  font-weight:400;
}

.recipes {
  background:url(../img/bg3.jpg) center center;
  background-size:cover;
}

.well {
  padding:40px 30px;
  margin-top:33px;
  margin-right:-60px;
  position:relative;
  z-index:100;
  background:#fff;
}

@media (max-width:991px) {
  .well {
    margin-right:0;
  }
}

.recipes img {
  margin-left:-22px;
  height:100%;
  width:100%;
}

@media (max-width:991px) {
  .recipes img {
    margin-left:0;
  }
}

.menu {
  background:url(../img/bg4.jpg) center center;
  background-size:cover;
}

.section_top_header {
  text-align:center;
}

.menu .section_top_header .section_heading {
  color:#fff;
}

.menu .section_descr {
  color:#fff;
  margin-bottom:60px;
}

.well-right {
  margin-right:0;
  margin-left:-60px;
}

@media (max-width:991px) {
  .well-right {
    margin-left:0;
  }
}

.menu_item {
  margin-bottom:60px;
}

.img-wrap img {
  /*height:100%;*/
}

.img-wrap-left {
  margin-right:-60px;
}

@media (max-width:991px) {
  .img-wrap-left {
    margin-right:0;
  }
}

.img-wrap-right {
  margin-left:-60px;
}

@media (max-width:991px) {
  .img-wrap-right {
    margin-left:0;
  }
}

.app_section {
  background:url(../img/bg5.jpg) center center;
  background-size:cover;
}

.app_section .section_heading {
  color:#fff;
  /*text-transform:capitalize;*/
}

.app_section .section_descr {
  color:#fff;
  font-size:85px;
  margin-bottom:0;
  line-height:70px;
}

@media (max-width:1199px) {
  .app_section .section_descr {
    font-size:64px;
    line-height:70px;
  }
}

@media (max-width:767px) {
  .app_section .section_descr {
    font-size:53px;
    line-height:43px;
  }
}

.app_section {
  color:white;
  font-size:28px;
}

@media (max-width:1199px) {
  .app_section {
    font-size:20px;
    text-align:center;
  }
}

@media (max-width:767px) {
  .app_section {
    font-size:15px;
    text-align:center;
  }
}

.app_section span {
  text-transform:uppercase;
  margin-bottom:10px;
  display:block;
}

.app_btn {
  display:inline-block;
  width:220px;
  height:84px;
  margin-right:20px;
}

@media (max-width:1199px) {
  .app_btn {
    display:inline-block;
    width:180px;
    height:50px;
    margin-right:15px;
  }
}

@media (max-width:767px) {
  .app_btn {
    display:inline-block;
    width:130px;
    height:42px;
    margin-right:0;
  }
}

.app_btn img {
  height:100%;
}

@media (max-width:767px) {
  a.navbar-brand.navbar-link {
    width:150px;
    margin:0 auto;
  }
}

.gallery {
  background:url(../img/bg8.jpg) center no-repeat;
  background-size:cover;
}

.gallery .section_heading {
  color:#000;
}

.gallery .section_descr {
  color:#000;
  margin-bottom:40px;
}

.gallery .img-wrap {
  margin-bottom:0;
  margin-left:-15px;
  margin-right:-15px;
  cursor:pointer;
}

@media (max-width:991px) {
  .gallery .img-wrap {
    margin-left:-15px;
    margin-right:-15px;
  }
}

.gallery .img-wrap:hover .overlay {
  display:block;
}

.gallery .menu_item {
  margin-bottom:0px;
}

.overlay {
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.6);
  position:absolute;
  /*z-index:100;*/
  top:0;
  right:0;
  left:0;
  display:none;
  -webkit-transition:all 5s ease-in;
  transition:all 5s ease-in;
  text-align:center;
}

.gallery .img-wrap img {
  cursor:pointer;
  width:100%;
}

.overlay h4 {
  color:#fff;
  text-align:center;
  font-family:"Times New Roman";
  font-size:22px;
  font-weight:400;
  text-transform:uppercase;
}

.overlay .price {
  color:white;
  font-family:"Times New Roman";
  font-size:41px;
  font-weight:400;
  text-transform:uppercase;
  text-align:center;
}

.overlay .section_btn {
  margin:0 auto;
}

.navbar-inverse .navbar-link {
  color:#9d9d9d;
  width:240px;
}

.menu li {
  list-style-type:none;
  font-family:"Times New Roman";
  font-size:18px;
  color:black;
  font-weight:400;
  /*margin-bottom:18px;*/
  vertical-align:middle;
  line-height:3.3em;
}

.menu ul {
  line-height:1em;
}

.menu li span {
  color:black;
  font-weight:700;
  float:right;
}

.menu li:before {
  content:'';
  display:inline-block;
  height:50px;
  position:absolute;
  width:50px;
  left:15px;
  background-image:url(../img/dish_icon.png);
}

.menu .section_heading {
  margin-bottom:30px;
}

